.portfolioItemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.image {
    height: 15.6em;
    width: 12.5em;
    margin-bottom: 2em;
}

.image:nth-child(1) {
    border-radius: 0 0 40px 40px;
}

.portfolioItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 3em 0;
}

.portfolioText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.text {
    margin-bottom: 1em;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .portfolioItemContainer {
        grid-template-columns: 1fr;
    }
}