.teamContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.excellent {
    font-style: italic;
}

.container {
    width: 100%;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}