.pledgeContainer {
    display: flex;
    margin-top: 4em;
}

.pledgeItems {
    width: 50%;
    padding: 3em;
}

h1 {
    font-size: 1.5em;
}

p, h1 {
    margin-bottom: .5em;
}

.pledgeLi {
    margin-bottom: .5em; 
}

li:last-child {
    margin-bottom: 2em;
}

.imageContainer {
    width: 50%;
}