.pledgeContainer {
    display: flex;
    margin-top: 4em;
}

.pledgeItems {
    width: 50%;
    padding: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.liTitle {
    margin-bottom: 1em;
}

p, h1 {
    margin-bottom: .5em;
}

.text {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.trust {
    font-weight: bold;
}

.pledgeUl {
    margin-bottom: 2em;
}

.pledgeLi {
    margin-bottom: .5em; 
}

.imageContainer {
    width: 50%;
}

.imageContainer {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 20em;
    height: fit-content;
    border-radius: 0 0 40px 40px;
}

@media screen and (max-width: 850px) {
    .title, .text {
        text-align: center;
    }
    .pledgeContainer {
        flex-direction: column;
        align-items: center;
    }
}