.button {
    width: 200px;
    height: 50px;
    background-color: #fd5f58;
    border: none;
    border-radius: 3px;
    color: white;
}

a {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background-color: #5ed1c7;
}